@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-left {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s ease-out forwards;
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-out forwards;
}

@font-face {
  font-family: 'FontBold';
  src: url('../utils/fonts/Hana2-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FontCM';
  src: url('../utils/fonts/Hana2-CM.ttf') format('truetype');
}

@font-face {
  font-family: 'FontHeavy';
  src: url('../utils/fonts/Hana2-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'FontLight';
  src: url('../utils/fonts/Hana2-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'FontMedium';
  src: url('../utils/fonts/Hana2-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FontRegular';
  src: url('../utils/fonts/Hana2-Regular.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-screen-lg w-full px-3;
  }
  .header-skeleton {
    @apply h-14 md:h-16 max-w-screen-lg w-full;
  }
}

body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
